<h2>Quản lý lớp</h2>
<div id="form_AddNewStudent">
    <input type="text" id="svMssv" placeholder="Mã số sinh viên" /> <br/>
    <input type="text" id="svName" placeholder="Họ và tên" /> <br/>
    <input type="text" id="svAddress" placeholder="Địa chỉ" /> <br/>
    <input type="text" id="svPhoneNumber" placeholder="số điện thoại" /> <br/>
    <input type="text" id="svEmail" placeholder="Email" /> <br/>
    <input type="text" id="svClass" placeholder="Lớp" /> <br/>
    <input type="button" id="btn_Add_New_Student" value="Thêm mới" />
    <input type="button" id="btn_Update_Student" value="Cập nhập" />
    <input type="button" id="btn_Delete_Student" value="Xoá" />
    <input type="hidden" id="id_sv" />
</div>
<table id="list_sv" border="1">
    <thead>
        <tr>
            <th scope="col">Mã số sinh viên</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">số điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Lớp</th>
            <th scope="col">Khoa</th>
            <th scope="col">Hình</th>
            <th scope="col">ID</th>
        </tr>
    </thead>
    <tbody id="tbodySV">
        
    </tbody>
</table>